﻿
@model List<CatFacts.Models.JsonFact>
<style>
    p {
        margin-top: 20%; 
    }
</style>
<div>
    @using (Html.BeginForm("GetData", "Home", FormMethod.Get))
    {
        <input type="hidden" value="https://cat-fact.herokuapp.com/facts" name="path" />

        <center><p><input type="submit" value="Получить факты" /></p></center>

        if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Fact <img src="~/Resources/fat-cat.png"></th>
                        <th scope="col">Date of update</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fact in Model)
                    {
                        <tr>
                            <td>@fact.text</td>
                            <td>@fact.updatedAt</td>
                        </tr>
                    }

                </tbody>
            </table>
        }

    }
</div>

